@{
    ViewBag.Title = "Um pouco sobre OSBCC";
}
<h2>@ViewBag.Title.</h2>


    <center>
    OSBCC é um trabalho desenvolvido por alunos do 2° ano de Ciência da Computação, da Instituição Educacional
    do município de Assis. <br>
    O intuito era desenvolver um site com o propósito de Ordens de Serviço de uma loja relacionada a consertos
    e manutenção de aparelhos eletrônicos. Tudo isso utilizando o Php e Banco de Dados, numa tentativa de
    hospedagem online.
</center>
</p>
<br><br></p>
