<html>
<body class="container">

    <center>
        <link href="/bootstrap/css/banner.css" rel="stylesheet" type="text/css" />
        <script type="text/jscript" src="bootstrap/js/banner.js"></script>
        <div id="banner" class="banner">
            <div id="banner_img">
                <img src="banner_img/1.jpg" width="100%">
             </center>
                    </div>
                    </div>
</body>
</html>