@{
    ViewBag.Title = "Contato";
}


    <title>Contato</title>
 


<body class="container">
    <center>
        <section id="contact" class="content-section text-center">
            <div class="container">
                <div class="row">

                   
                    
                    
                     <h2><br />Dúvidas? Entre em contato conosco!</h2>
                    <p>Está com algum tipo de dúvida sobre a página? Sem problemas, entre em contato com a gente que esclareceremos o mais rápido possível. </p>
                    <br><br>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/leticia.viccioli" target="_blank" class="btn btn-default btn-lg">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook Leticia</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/netto.nucci" target="_blank" class="btn btn-default btn-lg">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook Netto</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/nettonucci" target="_blank" class="btn btn-default btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">Github Netto</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/leviccioli" target="_blank" class="btn btn-default btn-lg">
                                <i class="fa fa-github fa-fw"></i>
                                <span class="network-name">Github Leticia</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://chat.whatsapp.com/7KI94We3QDnA4bbzYj06F5" target="_blank" class="btn btn-default btn-lg">
                                <i class="fa fa-whatsapp-plus fa-fw"></i>
                                <span class="network-name">WhatsApp</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </section>
    </center>
</body>

